<% if @user.videos.empty? && @user == current_user %>
  <div class="bbbox">
    <div class="bbbox-title">
      <h4>Videos</h4>
    </div>
    <div class="bbbox-content">
      <h4 class="text-center bb-alert-orange">
        <%=  "Add a first video now!" %>
      </h4>
    </div>
  </div>
<% elsif @user.videos.present? %>
  <div class="bbbox">
    <div class="bbbox-title">
      <h4> <%= pluralize_without_count @user.videos.size, "Video" %></h4>
    </div>
    <div class="bbbox-content">
        <div class="row">
            <% @user.videos.each do |video| %>
              <div class="col-xs-12 col-md-6">
                <iframe height="180" width="320" class="bbbox-video" src=<%= video.url.gsub(/watch.v=/, "embed/") %> frameborder="0" allowfullscreen></iframe>
              </div>
            <% end %>
        </div>
    </div>
  </div>

<% else %>
<% end %>
