/* The card */
.card-lars {
  position: relative;
  height: 250px;
  width: 500px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
}

/* Image on the left side */
.thumbnail-lars {
  float: left;
  position: relative;
  left: -20px;
  top: -30px;
  height: 70px;
  width: 200px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
 /* font-family: ; */
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #3C4447;
  border-radius: 6px;
}

/*object-fit: cover; */
/*object-position: center; */
.left-lars {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 10px;
  margin-right: 10px;
}

/* Right side of the card */
.right-lars {
  position: absolute;
  right: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

/* Floating action button */
.fab-lars {
  position: absolute;
  right: 230px;
  bottom: 230px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}
